@using PlacementTableApp.Models.ViewModels
@model IEnumerable<PlacementTableApp.Models.ViewModels.StandingView>
@{
    ViewData["Title"] = "Standings";
    var filterOptionleague = ViewData["FilterOptionLeague"] as List<string>;

}

<h1>Standings</h1>

<p>This is the Standings index page. Populate with the standings from the controller/service.</p>

<a href="/Standing/League/Øst">Øst</a> | <a href="/Standing/League/Vest">Vest</a> | <a href="/Standing/League/Central">Central</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Sæson</th>
            <th scope="col">Navn</th>
            <th scope="col">By</th>
            <th scope="col">Liga</th>
            <th scope="col">Handling</th>
            <th scope="col">Sejre</th>
            <th scope="col">Nederlag</th>
            <th scope="col">Resulter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StandingView s in Model)
        {
            <tr>
                <td>@s.Season</td>
                <td>@s.Name</td>
                <td>@s.City</td>
                <td>@s.League</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Result" asp-action="AddWin" asp-route-teamId="@s.TeamId">+sejrer</a>
                </td>
                <td>@s.Wins</td>
                <td>@s.Losses</td>
                <td>Resultater</td>
            </tr>
        }
    </tbody>
</table>
